@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

/* components */
.container {
  width: 1200px;
  margin: auto;
  padding: 3rem;
}

/* general */
.nav-bar {
  background-color: aqua;
}

.nav {
  background-color: #fff;
  padding: 2rem 6.5rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.nav__list li a:link,
.nav__list li a:visited {
  color: #121212;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
}

.nav__heading {
  color: #0290ff;
  font-weight: bold;
  font-size: 3rem;
}

/* -- form */
.form {
  border-top: 3px solid #e8e8e8;
}

.form form {
  display: flex;
  gap: 2rem;
}

.form__heading {
  font-size: 2rem;
  font-weight: bold;
  color: #888;
  padding: 2.4rem 0 3rem 0;
}

.form__input {
  padding: 1.2rem 2.4rem;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  outline-color: #0290ff;
}

.form__input::placeholder {
  color: #c4c4c4;
}

.form__btn {
  border: none;
  color: #fff;
  background-color: #0290ff;
  padding: 1.4rem 4rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.form__btn:hover {
  box-shadow: 0 0 2rem 1rem #0291ff5e;
}

/* card */

.cards__list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 0;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  list-style: none;
  padding: 4rem;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e2e2e2;
  transition: box-shadow 0.3s;
  border-left: 5px solid #0290ff;
}

.card:hover {
  box-shadow: 0 1rem 2rem 0.1rem rgba(0, 0, 0, 0.219);
}

.card__buttons {
  display: flex;
  gap: 2rem;
}

.card__buttons button {
  font-weight: 400;
  color: #4386bf;
  background-color: transparent;
  padding-right: 2rem;
  border: none;
  cursor: grab;
}

.card__buttons button:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}

.card__book-title {
  color: #000;
  font-size: 2.8rem;
  font-weight: 600;
}

.card__c-name {
  color: #8c8c8c;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.card__author {
  font-size: 1.4rem;
  font-weight: 400;
  color: #4386bf;
  padding-bottom: 2.8rem;
}

/* -- card parts */

/**** progress ****/
.progress__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 8rem;
  border-right: 2px solid #e8e8e8;
}

.oval {
  width: 5.25rem;
  height: 5.25rem;
  border-style: solid;
  color: #379cf6;
  border-top: solid #ddd;
  border-width: 5px;
  border-image-slice: 1;
  border-radius: 50%;
  margin-right: 2rem;
}

.progress__percent {
  color: #121212;
  font-size: 3.6rem;
  font-weight: 400;
}

.progress__complete {
  color: #888;
  font-size: 1.4rem;
}

/**** progress ****/
.chapter {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chapter__text {
  color: #12121288;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.chapter__name {
  padding-top: 1rem;
  color: #121212;
  font-size: 1.6rem;
  font-weight: 400;
}

.chapter__btn {
  font-size: 1.4rem;
  color: #fff;
  background-color: #0290ff;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;
  margin-top: 2.4rem;
  flex-grow: 0;
  flex-shrink: 0;
  width: 16rem;
  cursor: pointer;
}
